{% extends "about_me.html" %}
{% block content %}
<h2 class="my-4">Контакти</h2>

<div class="container row ">

  <div class="col-md-6 mb-4">
    <ul class="list-unstyled">
      <li><strong>Email:</strong> <a href="oleksijkuracij38@gmail.com" class="text-white">oleksijkuracij38@gmail.com </a></li>
      <li><strong>Telegram:</strong> <a href="https://t.me/@Ukr_man_alex" target="_blank" class="text-white">@@Ukr_man_alex</a></li>
      <li><strong>GitHub:</strong> <a href="https://github.com/VerloxPy" target="_blank" class="text-white">github.com/VerloxPy</a></li>
      <li><strong>Номер телефону:</strong> <h5>066 20 444 31</h5></li>
      <li><strong>Місце проживання:</strong> м.Ірпінь, Україна</li>
    </ul>
  </div>


      <div class="mb-3">
        <label for="message" class="form-label">Повідомлення</label>
        <textarea class="form-control" id="message" rows="4" placeholder="Напишіть щось..."></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Надіслати</button>

</div>



{% endblock content %}
