{% extends "about_me.html" %}
{% block content %}

<h1>Моя освіта</h1>

<div class="row">
    <div class="col-md-4">
        <img src="https://th.bing.com/th/id/OIP.mSA9vNFxTqYpmXpujYMJBAHaDb?w=288&h=162&c=7&r=0&o=7&cb=iwp2&dpr=1.3&pid=1.7&rm=3"
                class="img-fluid"
                style="max-width: 640px";>
    </div>
    <div class="col-md-8 fs-5">
        <h4>
        Наразі я навчаюся в освітній компанії <strong>GoITeens</strong>, де активно здобуваю знання та практичні навички у сфері програмування й веброзробки. Програма охоплює мови розмітки HTML/CSS, фреймворк Bootstrap, мову програмування Python, створення повноцінних вебзастосунків на Flask, а також основи роботи з базами даних.   Навчання орієнтоване на реальні проєкти, командну роботу та поступове занурення в сучасний стек технологій. Завдяки цьому я навчився структурувати код, писати зрозуміло й логічно, а також працювати з гітом і середовищем розробки. Навчання орієнтоване на реальні проєкти, командну роботу та поступове занурення в сучасний стек технологій.
      Завдяки цьому я навчився структурувати код, писати зрозуміло й логічно, а також працювати з гітом і середовищем розробки.
        </h4>
    </div>
</div>

<h1 class="text-white">1</h1>

<div class="row">
    <div class="col-md-4">
        <img src="https://d39raawggeifpx.cloudfront.net/styles/16_9_desktop/s3/articleimages/bneGeneirc_Ukraine_KSE_bneIcon_Cropped_15.jpg"
                class="img-fluid rounded shadow"
                style="max-width: 485px";>
    </div>
    <div class="col-md-8 fs-5">
        <h4>
        У найближчі роки я планую продовжити свій розвиток у сфері інформаційних технологій. Один із моїх головних орієнтирів — вступ до <strong>KSE (Kyiv School of Economics)</strong> на інформатичний факультет. Я прагну отримати якісну сучасну освіту, яка дасть глибоке розуміння алгоритмів, програмної архітектури та практики командної розробки. </p> <p> Також я розглядаю можливість вступу до технічного коледжу після 9 класу, щоб отримати більш прикладні знання та швидше поринути в ІТ-середовище. Мій вибір залежатиме від того, де я зможу поєднувати практику, наукову базу й підтримку спільноти однодумців. </p> <p> Моє головне завдання — розвиватися як розробник, який не просто пише код, а створює рішення, здатні впливати на світ. Я відкритий до нових можливостей, стажувань, хакатонів і навчальних програм, що допоможуть зробити цей шлях максимально ефективним.
        </h4>
    </div>
</div>















{% endblock content %}


